@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap');

/* Rem-compliant site-wide font styling*/

html { 
    font-size: 62.5%; /* 10px */
}

/* General site-wide styling */

a{
    color: #000000;
    text-decoration: none;
}
a:hover{
    color: #000000;
    text-decoration: underline;
}

body {
    font-family: "Roboto Mono", sans-serif; /* Site-wide font with fall-back */
    font-size: 1.25rem;
}

#bg-img{
    background-image: url("../images/aprilhaxan-bg.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.image-wrap{ /* Styling for image-wrapper, useful on multiple pages */
    float: left;
    height: auto;
    padding: 2.5%;
}
.left-col-style{ /* Styling the content of the left-hand bootstrap grid cols */
    max-width: 100%;
    padding: 1%;
}
.center-col-style{ /* Styling the content of the center bootstrap grid col */
   
    max-width: 90%;
    padding: 1%;
   
}
.right-col-style{
    
    max-width: 100%;
    padding: 1%;
    
}
.flag-icon-wrapper{

    max-width: 65px;
    height: auto;
    position: fixed;
    right: 15px;
    bottom: 15px;
    opacity: 0.5;
}
.flag-toggle-icon{
    width: 100%;
    height: auto;
}



/* Relevant ONLY to language-selector index.html in root folder */

.index-headers{
    margin-top: 15%;
}

.language-choice{
    margin-top: 10%;
}

#index-intro-container{
    font-size: 1.5rem;
    min-height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    text-align: center;
}

#index-intro-container a{
    color: #ffffff;
    text-decoration: none;
}


/* NavBar site-wide styles */

.nav-link{
    padding: 10px;
}

#navbar-styles{
    font-size: 1.25rem;
    padding: 12px;
}

#navbar-styles a{
    color: #000000;
    text-decoration: none;
}

/* start.html specific styles */

.content-wrapper{
    margin: 5%;
    padding: 1%;
    width: 90%;
    height: 90%;
}
.portrait-img{ 

    max-width: 90%;
    padding: 1%;
    height: auto;
    margin: auto;
}
#event-legend{
    border: 2px;
    border-style: solid;
}

/* books.html specific styles */

#books-navtab{
    padding-top: 5%;
    padding-bottom: 5%;
    max-width: 70%;
}

#book-data{
    padding: 5%;
    margin: 2.5%;
}
.btn-book-style{
    max-width: 95%;
    padding: 0.25rem;
    border: 1px;

}


/* Media-query CSS for smaller screen-sizes */

@media screen and(max-width: 640px){

    .portrait-img{ 

        max-width: 20%;
        padding: 2.5%;
        height: auto;
        margin: auto;
    }
    /* Styling links on smaller screens, to make them more visible. */
    a {
        text-decoration: underline;
        color: #ff0000;
    } 
    .flag-icon-wrapper{

        max-width: 35px;
        height: auto;
        position: fixed;
        right: 5px;
        bottom: 10px;
        border-radius: 50%;
    }
    .flag-toggle-icon{
        width: 100%;
        height: auto;
    }
}